@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #183b56;
    --seconday-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}

p {
    font-family: 'Roboto', sans-serif;
    color: var(--seconday-color);
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    margin-inline: auto;
    max-width: 1180px;
    overflow: hidden;
}

/* ============================================================== */
/* ==================== NAVIGATION SECTION ====================== */
/* ============================================================== */

nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    z-index: 99;
    right: 0;
    left: 0;
    top: 0;
}

.main-nav {
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img {
    width: 80px;
    height: 50px;
}

.nav-links ul{
    gap: 16px;
}

.nav-links1 ul{
    margin-top: 70px;
    padding: 0.7rem 12px;
    background-color:#bbd0e2;
    gap: 16px;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--seconday-color);
}

.hover-link:active{
    color: red;
}

.nav-item.active {
    color: var(--accent-color);
}

.search-bar{
    height: 32px;
    gap: 10px;
}

.search-bar input {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #bbd0e2;
    padding-inline: 12px;
    border-radius: 4px;
    width: 200px;
    height: 100%;
}

.search-button {
    background-color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    padding: 8px 24px;
    cursor: pointer;
    color: white;
    border: none;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}

/* ============================================================== */
/* ==================== Main SECTION ====================== */
/* ============================================================== */

main {
    margin-top: 80px;
    padding-block: 20px;
}

.card-container{
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;
}

.card{
    box-shadow: 0 0 4px #d4ecff;
    background-color: #fff;
    border-radius: 4px;
    min-height: 400px;
    overflow: hidden;
    cursor: pointer;
    width: 360px;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 0 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}